

<%- include('partials//header') -%>

<h1>Home</h1>
<p><%= startingContent%></p>

<% postsSent.forEach(function(post){ %>

    <% formattedContents = post.body.substring(0, 100) + "...";%>
    <h1><%=post.title %></h1>
    <p ><%=formattedContents%> 
        <% let link1= "/post/"+post._id %>
       <a href= "<%= link1 %>" > 
            Read More
        </a>
    </p>
<%}); %>

<%- include('partials//footer') -%>




